@page "/configuration/devices"

<PageLayout Title="Devices" SubTitle="Configuration">
    <PageBody>
        @if (DeviceManager.Devices.Any())
        {
            <div class="card">
                <table class="table table-vcenter card-table">
                    <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Model</th>
                            <th>Hostname</th>
                            <th>IP</th>
                            <th>Firmware</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var (serial, device) in DeviceManager.Devices)
                        {
                            <tr>
                                <td>@serial</td>
                                <td>@device.ModelDisplay</td>
                                <td>@device.HostName</td>
                                <td>@device.IP</td>
                                <td>@device.Firmware</td>
                                <td>
                                    <span class="status status-yellow">
                                        <span class="status-dot status-dot-animated"></span>
                                        @device.Status
                                    </span>
                                </td>
                                <td>
                                    @if (device.IsAdoptable)
                                    {
                                        <ActionButton Action="() => Adopt(device)">
                                            Adopt
                                        </ActionButton>
                                    }
                                    @if (device.IsAdopted && !device.IsAdopting && !device.ResetRequested)
                                    {
                                        <button class="btn btn-danger" @onclick="() => device.ResetRequested = true">
                                            <Icon Name="trash" />
                                            Forget
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="container-xl d-flex flex-column justify-content-center">
                <div class="empty">
                    <div class="empty-img">
                        <img src="/img/undraw_broadcast_jhwx.svg" height="128" alt="">
                    </div>
                    <p class="empty-title">No results found</p>
                    <p class="empty-subtitle text-muted">
                        Connect a device to your network to begin.
                    </p>
                </div>
            </div>
        }
    </PageBody>
</PageLayout>
